alembic==1.7.7
bidict==0.21.4
captcha==0.4
certifi==2022.12.7
charset-normalizer==2.0.12
click==8.0.4
dataclasses==0.6
Flask==2.0.3
Flask-Admin==1.6.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-Moment==1.0.2
flask-session-captcha==1.2.2
Flask-Sessionstore==0.4.5
Flask-SocketIO==5.1.1
Flask-SQLAlchemy==2.5.1
Flask-Toastr==0.5.7
greenlet==1.1.2
idna==3.3
importlib-metadata==4.8.3
importlib-resources==5.4.0
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
Pillow==9.0.1
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.27.1
SQLAlchemy==1.4.35
typing-extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.0.3
WTForms==3.0.0
zipp==3.6.0
