@keyframes background {
    100% {
        background-position: 0 200px;
    }
}

.kaesevua {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
}

.sicinga_pesamila {
    background-color: #15181f;
    color: #e5e5e5;
}

#nasukaola {
    background-color: #ffffff;
}

.counter {
    position: absolute;
    bottom: 5px;
    right: 5px;
}