body {
    position: relative;
    margin: 0;
    color: #fff;
    /* Растягиваем body по высоте html */
    min-height: 100vh;
}


/*Страница регистрации*/
.gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
}

/*Общие настройки отступа сделаны по классам секций; если добавляете страницу, создавайте класс секций, дабы
они отталкивались от зафиксированного футера, и добавляйте их сюда через запятую*/

.bg-image img {
    height: 30vh;
}

.main-chat {
    padding: 50px;
}
/*Для аватарки*/
.img-responsive {
    overflow: hidden;
    width: 80%;
    height: auto;
    border-radius: 15%;
}

.img-responsive2 {
    overflow: hidden;
    width: 100%;
    height: auto;
}

/*chat Is*/
#chat {
    height: 89vh;
    overflow: auto;
    border: 1px solid #ccc;
}

#chat small label {
    color: #CD5C5C
}

/*footer*/
#footer {
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#footer div {
    background-color: rgba(0, 0, 0, 0.2);
}