{% extends 'admin/master.html' %}

{% block body %}

  <style>
  li{
      margin: 5px;
  }
      .rule {
          margin-top: 5%;
      }

      .administration-panel-standart {
          margin-top: 10%;
      }

      .admin-text {
          font-size: 110%;
      }
  </style>

  {#  Мне Матвей рассказал, как ты любишь этот тег😉#}
  <center><h1>Панель Администрации</h1></center>

  <div class="rule">
    <h3>Основные правила</h3>
    <ul>
      <p>1)Правила хорошего поведения в чате</p>
      <li>1.1)Запрещено прямое оскорбление других участников чата (Наказание: мут, сроком до 10мин);</li>
      <li>1.2)Запрещены попытки розжига межнациональной розни (Наказание: мут, сроком до 10мин);</li>
      <li>1.3)Запрещено оскорбление чувств верующих (Наказание: мут, сроком до 5мин);</li>
      <li>1.4)Запрещено оскорбление близких людей участников чата (Наказание: мут, сроком до 10мин);</li>
      <li>1.5)Запрещены спам/флуд (Промежуток между однотипными сообщениями не менее 15 секунд) (Наказание: мут, сроком
        до 10мин).
      </li>
      <br>
      <p>2)Преднамеренное зло</p>
      <li>2.1)Запрещена реклама любых сторонних ресурсов (Наказание: мут, сроком до 3ч; бан, сроком до 3ч);</li>
      <li>2.2)Запрещены попытки дестабилизировать работу сервиса (К этому относится и взлом аккаунтов) (Наказание: бан
        навсегда);
      </li>
      <li>2.3)Запрещено использовать недоработки сервиса (багоюз), о таких вещах сообщать Администрации (Наказание: бан,
        сроком до 12ч).
      </li>
      <br>
      <p>3)Администрация</p>
      <li>3.1)Запрещено оскорбление членов Администрации (Наказание: мут или бан, сроком до 6ч);</li>
      <li>3.2)Запрещены попытки препятствовать действиям Администрации (Наказание: мут или бан, сроком до 6ч);</li>
      <li>3.3)Запрещено раскрывать действия Администрации, если вы не получили лично разрешение (Наказание: мут или бан,
        сроком до 24ч).
      </li>
      <br>
      <p>4)Исключения и дополнения</p>
      <li>4.1)Администрация вправе наложить на вас <strong>любое</strong> наказание, на своё усмотрение;</li>
      <li>4.2)Администрация вправе не отчитываться о своих действиях, и о причинах этого действия;</li>
      <li>4.3)Администрация вправе наложить на вас наказание за причину, не указанную в правилах.</li>

    </ul>
  </div>

  <div class="administration-panel-standart">
    <h3>Команды чата</h3>
    <br>
    <ul>
      <small><label>Перед командой можно использовать любой символ (Не только /)</label></small>
      <li class="admin-text">/ban НикПользователя ВремяБана - если не указать ник пользователя, бан будет навсегда (700 лет). При бане
        пользователь не может писать/читать сообщения, чат не будет для него работать;
      </li>
      <li class="admin-text">/rban НикПользователя ВремяБана Комната - чтобы заблокировать навсегда (700 лет), введите вместо времени
        символ *. Чтобы указать текущую комнату, введите this;
      </li>
      <li class="admin-text">/mute НикПользователя ВремяМута - если не указать ник пользователя, мут будет навсегда (700 лет). При муте
        пользователь не может писать в чат, но при этом может читать сообщения;
      </li>
      <li class="admin-text">/warn НикПользователя - после 3'х предупреждений пользователь будет забанен на 45 минут;</li>
      <li class="admin-text">/broadcast любое сообщение/текст - отправить сообщение во все комнаты.</li>
    </ul>
  </div>

  <div class="administration-panel-standart">
    <h3>Состав Администрации</h3>
    <br>
    {% for admin in admins %}

      <p class="admin-text">Логин: &nbsp;<strong>{{ admin.name }}</strong></p>

    {% endfor %}
  </div>

<br><br>
<hr>
<small style="margin: 30px;">© 2022 RaccoonAnonymous</small>

{% endblock body %}