{% extends 'admin/master.html' %}

{% block body %}

  <style>
      .administration-panel-standart {
          margin-top: 10%;
      }

      .admin-text {
          font-size: 110%;
      }
  </style>

  {#  Мне Матвей рассказал, как ты любишь этот тег😉#}
  <center><h1>Панель Администрации</h1></center>

  {% include 'includes/rules.html' %}

  <div class="administration-panel-standart">
    <h3>Команды чата</h3>
    <br>
    <ul>
      <small><label>Перед командой можно использовать любой символ (Не только /)</label></small><br>
      <small><label>Чтобы выдать наказание навсегда, введите вместо времени символ - *</label></small>
      <li class="admin-text">/ban НикПользователя ВремяБана Причина - При бане пользователь не может писать/читать
        сообщения, чат не будет для него
        работать. Причину указывать необязательно;
      </li>
      <li class="admin-text">/unban НикПользователя - Снять бан с пользователя;</li>
      <li class="admin-text">/rban НикПользователя ВремяБана Комната Причина - Чтобы указать текущую комнату, введите
        this. Причину указывать необязательно;
      </li>
      <li class="admin-text">/mute НикПользователя ВремяМута Причина - При муте
        пользователь не может писать в чат, но при этом может читать сообщения. Причину указывать необязательно;
      </li>
      <li class="admin-text">/unmute НикПользователя - Снять мут с пользователя;</li>
      <li class="admin-text">/warn НикПользователя - После 3'х предупреждений пользователь будет забанен на 45 минут;
      </li>
      <li class="admin-text">/unwarn НикПользователя - Снять предупреждение с пользователя;</li>
      <li class="admin-text">/broadcast любое сообщение/текст - Отправить сообщение во все комнаты;</li>
      <li class="admin-text">/vote idСообщения Дополнительный текст жалобы - Подать жалобу на сообщение, Администрация
        увидит это и примет меры. Чтобы узнать id сообщения, наведите на него мышкой;
      </li>
      <li class="admin-text">/rules - Получить полный список правил сервиса.
      </li>
    </ul>
  </div>

  <div class="administration-panel-standart">
    <h3>Состав Администрации</h3>
    <br>
    {% for admin in admins %}

      <p class="admin-text">Логин: &nbsp;<strong>{{ admin.name }}</strong></p>

    {% endfor %}
  </div>

  <br><br>
  <hr>
  <small style="margin: 30px;">© 2022 RaccoonAnonymous</small>

{% endblock body %}