<section class="top-roc">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('user_page') }}">{{ current_user.name }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{ url_for('rooms') }}"><label>Список комнат</label></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dialog_list') }}"><label>Список диалогов</label></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('chat') }}?room=general"><label>Общий чат</label></a>
          </li>
        </ul>
      </div>
      <div class = "navbar-text navbar-right">
       <a class = "navbar-link" href = "{{ url_for('logout') }}?room=general"><label>Выход</label></a>
      </div>
    </div>
  </nav>
</section>
