<footer class="text-center">
  <div class="container pt-4">
    <div class="row">
      <hr>
      <div class="col-sm-10 text-end">
        {% if stiky == True %}
          <div class="nav-item">
            <div class="form-switch kaesevua">
              <input class="form-check-input text-center" type="checkbox" id="check_stick">
              <label class="form-check-label" for="check_stick">Следить за сообщениями</label>
            </div>
          </div>
        {% endif %}
      </div>
      <div class="col-sm-2 text-end">
        <div class="nav-item">
          <div class="form-switch kaesevua">
            <input class="form-check-input text-center" type="checkbox" id="check_night">
            <label class="form-check-label" for="check_night">Ночной режим</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
