<style>
    li {
        margin: 5px;
    }

    .rule {
        margin-top: 5%;
    }
</style>

<div class="rule">
  <h3>Основные правила</h3>
  <ul>
    <p>1)Правила хорошего поведения в чате</p>
    <li>1.1)Запрещено прямое оскорбление других участников чата (Наказание: мут, сроком до 10мин);</li>
    <li>1.2)Запрещены попытки розжига межнациональной розни (Наказание: мут, сроком до 10мин);</li>
    <li>1.3)Запрещено оскорбление чувств верующих (Наказание: мут, сроком до 5мин);</li>
    <li>1.4)Запрещено оскорбление близких людей участников чата (Наказание: мут, сроком до 10мин);</li>
    <li>1.5)Запрещены спам/флуд (Промежуток между однотипными сообщениями не менее 15 секунд) (Наказание: мут, сроком
      до 10мин).
    </li>
    <br>
    <p>2)Преднамеренное зло</p>
    <li>2.1)Запрещена реклама любых сторонних ресурсов (Наказание: мут, сроком до 3ч; бан, сроком до 3ч);</li>
    <li>2.2)Запрещены попытки дестабилизировать работу сервиса (К этому относится и взлом аккаунтов) (Наказание: бан
      навсегда);
    </li>
    <li>2.3)Запрещено использовать недоработки сервиса (багоюз), о таких вещах сообщать Администрации (Наказание: бан,
      сроком до 12ч).
    </li>
    <br>
    <p>3)Администрация</p>
    <li>3.1)Запрещено оскорбление членов Администрации (Наказание: мут или бан, сроком до 6ч);</li>
    <li>3.2)Запрещены попытки препятствовать действиям Администрации (Наказание: мут или бан, сроком до 6ч);</li>
    <li>3.3)Запрещено раскрывать действия Администрации, если вы не получили лично разрешение (Наказание: мут или бан,
      сроком до 24ч).
    </li>
    <br>
    <p>4)Исключения и дополнения</p>
    <li>4.1)Администрация вправе наложить на вас <strong>любое</strong> наказание, на своё усмотрение;</li>
    <li>4.2)Администрация вправе не отчитываться о своих действиях, и о причинах этого действия;</li>
    <li>4.3)Администрация вправе наложить на вас наказание за причину, не указанную в правилах;</li>
    <li>4.4)Привилегии (Helper, Moder и тд) не приравниваются к Администрации, пользователи с такими привилегиями
      остаются пользователями;
    </li>
    <li>4.5)Все, кроме Администрации, при выдаче наказания обязаны указывать причину;</li>
    <li>4.6)Пользователи (С привилегиями Helper, Moder и тд.) нарушившие правила выдачи наказания, или ведущие себя
      некорректно, получают предупреждения. 3 предупреждения, и привилегия аннулируется.
    </li>
  </ul>
</div>