
<div class="mt-3 lh-lg">
  <h3 class="ps-2">Основные правила</h3>
  <ul>
    <p>1) Правила хорошего поведения в чате:</p>
    <li>1.1) Запрещено прямое оскорбление других участников чата (наказание: мут, сроком до 10мин.);</li>
    <li>1.2) Запрещены попытки розжига межнациональной розни (наказание: мут, сроком до 10мин.);</li>
    <li>1.3) Запрещено оскорбление чувств верующих (наказание: мут, сроком до 5мин.);</li>
    <li>1.4) Запрещено оскорбление близких людей участников чата (наказание: мут, сроком до 10мин.);</li>
    <li>1.5) Запрещены спам/флуд (промежуток между однотипными сообщениями не менее 15 секунд) (наказание: мут, сроком
      до 10мин.).
    </li>
    <br>
    <p>2) Преднамеренное зло:</p>
    <li>2.1) Запрещена реклама любых сторонних ресурсов (наказание: мут, сроком до 3ч.; бан, сроком до 3ч. При повторных
      нарушениях, бан/мут навсегда);
    </li>
    <li>2.2) Запрещены попытки дестабилизировать работу сервиса (среди прочего к этому относится также взлом аккаунтов) (наказание: бан
      навсегда);
    </li>
    <li>2.3) Запрещено использовать недоработки сервиса (багоюз), о таких вещах сообщать администрации (наказание: бан,
      сроком до 12ч. При повторных нарушениях, бан/мут навсегда).
    </li>
    <br>
    <p>3) Администрация:</p>
    <li>3.1) Запрещено оскорбление членов администрации (наказание: мут или бан, сроком до 1 года);</li>
    <li>3.2) Запрещены попытки препятствовать действиям администрации (наказание: мут или бан, сроком до 6ч.);</li>
    <li>3.3) Запрещено раскрывать действия администрации, если не было получено разрешение (наказание: мут или бан,
      сроком до 10 дней).
    </li>
    <br>
    <p>4) Исключения и дополнения:</p>
    <li>4.1) Администрация вправе наложить <strong>любое</strong> наказание (в рамках работы сервиса), на своё усмотрение;</li>
    <li>4.2) Администрация вправе не отчитываться о своих действиях и об их причинах;</li>
    <li>4.3) Администрация вправе наложить наказание за причину, не указанную в правилах;</li>
    <li>4.4) Привилегии (Helper, Moder и тд) не приравниваются к администрации, пользователи с такими привилегиями
      остаются пользователями;
    </li>
    <li>4.5) Все, кроме администрации, при выдаче наказания обязаны указывать причину;</li>
    <li>4.6) Пользователи (с привилегиями Helper, Moder и тд.) нарушившие правила выдачи наказания, или ведущие себя
      некорректно, получают предупреждения. 3 предупреждения - привилегия аннулируется.
    </li>
  </ul>
</div>