{% extends 'base.html' %}
{% block title %} Все комнаты {% endblock %}
{% block body %}
<h1>
    <center>Список комнат</center>
</h1>
  <container>
    <section>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center p-5">
          <div class="list-group">
          {% for key, value in all_room.items() %}
              {% for i in range(value) %}
                <a href="{{ url_for('chat') }}?room={{ key }}_{{ loop.index }}" class="list-group-item list-group-item-action">{{ key }} №'{{ loop.index }}</a>
              {% endfor %}
          {% endfor %}
          </div>
        </div>
      </div>
    </section>
  </container>
{% endblock %}