{% extends 'base.html' %}
{% block title %} Чат анонимных енотов {% endblock %}
{% block body %}
  {% include 'includes/script_chat.html' %}
  {% include 'includes/header.html' %}
  <div class="container">
    <div class="col-12 text-center mt-2">
      <h1>Анонимный енот</h1>
      <label>Комната : {{ room.replace('_', ' №') }}</label>
    </div>
  </div>
  <label id="nasukaola"></label>
  {% if ban_time %}
    <center>Вы заблокированны, оставшееся время блокировки: {{ ban_time }}. Причина: <em>{{ reason }}</em></center>
  {% elif room_ban_time %}
    <center>Вы заблокированны в этой комнате, оставшееся время блокировки: {{ room_ban_time }}. Причина: <em>{{ reason }}</center>
  {% else %}

    <div class="row" id="row">
      <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></div>
      <div class="col-xs-1 col-sm-12 col-md-10 col-lg-10" id="chat"
           style="max-height: 77vh; height: 89vh; overflow: auto; border: 1px solid #ccc; padding: 10px">
        <div><label>Привет {{ current_user.name }}, добро пожаловать в комнату <label
            style="color: red">{{ room.replace('_', ' №') }}</label>. Надеемся ты не здохнешь, как мы проведёшь
          время!</label></div>
        <br>
        {% for msg in all_msg %}
          <div style='font-size: 125%; word-wrap: break-word; margin-top: 1%;' title="id сообщениея: {{ msg.id }}">
            {{ msg.login }}<label style="font-size: 70%;"> &nbsp;{{ moment(msg.created_on).fromNow() }}</label>: &nbsp;&nbsp;&nbsp;{{ msg.text }}
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="row" style="margin-top: 25px;">
      <div class="col-xs-1 col-sm-12 col-md-2 col-lg-2"></div>
      {% if current_user.is_authenticated and not mute_time %}
        <div class="col-xs-1 col-sm-12 col-md-10 col-lg-8">
                  <textarea type="text" id="text" placeholder="Введите сообщение..."
                            style="padding: 10px; border-radius: 5px; width: 93%; font-size: 115%;" autofocus
                            maxlength="1000"></textarea>
          <svg style="margin-left: 10px; margin-bottom: 2%;" xmlns="http://www.w3.org/2000/svg" width="36" height="36"
               fill="currentColor"
               class="bi bi-arrow-right-circle" viewBox="0 0 16 16" id="send">
            <path fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg>
          <label id="the-count" style="float: right; margin-right: 7%"><small><span id="current">0</span> <span
              id="maximum">/ 1000 </span></small></label>
        </div>
      {% elif mute_time %}
        <div class="col-xs-1 col-sm-12 col-md-10 col-lg-8">
          <center><h4>Вы замучены, оставшееся время: {{ mute_time }}.<br> Причина: <em>{{ reason }}</em></h4></center>
        </div>
      {% else %}
        <div class="col-xs-1 col-sm-12 col-md-10 col-lg-8">
          <center><h4>Вы не <a href="{{ url_for('authorisation') }}">авторизованны!</a></h4></center>
        </div>
      {% endif %}
    </div>
  {% endif %}
  <br>
{% include 'includes/counter.html' %}
{% endblock %}