{% extends 'base.html' %}
{% block title %} Профиль {{ current_user.name }} - RacoonAnonymous   {% endblock %}
{% block body %}
  {% include 'includes/header.html' %}
  <section class="about_user">
    <div class="container p-5">
      <div class="row g-4">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body text-center">
              <h5 class="card-title">Аватарочка</h5>
              <div class="ava">
                <img src="static/img/racoon_standart.jpg" class="img-responsive" alt=”Аватар”/>
              </div>
              <div class="text-center mt-3">
                <a href="#" class="btn btn-light">Изменить аватар</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card ">
            <div class="card-body text-center">
              <h5 class="card-title">Пару слов о себе:</h5>
              <p class="card-text "><em>Я копаюсь на помойках, как червяк
                С детства жизнь моя наперекосяк
                Канализационный люк - моя дверь
                Но я счастлив по-своему, поверь
                Двадцать лет назад сгорел родной мой дом:
                Документы, деньги - все сгорело в нем
                И теперь я побираюсь двадцать лет
                Кому нужен старый никудышный дед?</em></p>
              <a href="#" class="btn btn-light">Добавить изменения</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'includes/night_style_follow_msg.html' %}
{% endblock %}
