{% extends 'base.html' %}

{% block title %}
User page
{% endblock %}

{% block body %}
<!-- Background image -->
<div class="bg-image text-center">

  <img src="{{ url_for('static', filename='/img/Racoon_danger.jpg') }}">

</div>
<!-- Background image -->
<section class="top-roc">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">@user_name@</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Список контактов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Список диалогов</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Общий чат</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
</section>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
{% endblock %}
